<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página en Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>¡Hola, mundo!</h1>
        <p>Mi nombre es {{ nombre }} y tengo {{ edad }} años.</p>
        <p>Carnet {{ carnet }} , {{ url }} , {{ facultad }}.</p>
        <p>{{ curso }}.</p>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/mi-imagen.jpg') }}" alt="Descripción de la imagen" class="mi-imagen">
    </div>
   
</body>
</html>
